@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

:root {
  --succecc-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("./img/bg-pic.jpg");
  background-size: cover;
  background-color: #a5f0de;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #0b0c10;
  border-radius: 5px;
  box-shadow: 0 2px 10 px rgba(0, 0, 0, 0.3);
  widows: 400px;
  z-index: 0;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
  color: #66fcf1;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #66fcf1;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  font-family: "Comfortaa", sans-serif;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--succecc-color);
  background-color: #e6f7cb;
}

.form-control.error input {
  border-color: var(--error-color);
  background-color: #ffeeeb;
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  font-family: "Comfortaa";
  cursor: pointer;
  outline: none;
  background-color: #0b0c10;
  border: 1.7px solid #66fcf1;
  border-radius: 4px;
  color: #c5c6c7;
  width: 10em;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  transition: all 0.5s ease 0s;
}

.form button:hover {
  background-color: #66fcf1;
  color: #0b0c10;
  border-radius: 15px;
  border: 1.7px solid #45a29e;
  transition: all 0.4s ease 0s;
}
